
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   height=device-height,
                                   target-densitydpi=device-dpi,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
    <title>CourseUI</title>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Content/CourseUI.css")" rel="stylesheet" type="text/css" />
</head>
<body class="body">
    <div class="headTitle">
        <span>OOAD</span>
    </div>
    <div class="blueBoxSeminar" onclick="javascript: window.location = '/Student/Seminar'">
        <p class="fontSeminarTitle"> 讨论课4</p><!--蓝色选择框-->
        <p class="fontContent"> 11月6日至11月12日</p>
        <p class="fontContent"> 固定分组</p>
        <p class="fontContent"> 成绩：未完成</p>
    </div>

    <div class="greyBoxSeminar">
        <!--灰色选择框-->
        <p class="fontSeminarTitle"> 讨论课5</p>
        <p class="fontContent"> 11月6日至11月12日</p>
        <p class="fontContent"> 固定分组</p>
        <p class="fontContent"> 成绩：未完成</p>
    </div>
    <div class="greyBoxSeminar">
        <!--灰色选择框-->
        <p class="fontSeminarTitle"> 讨论课6</p>
        <p class="fontContent"> 11月6日至11月12日</p>
        <p class="fontContent"> 固定分组</p>
        <p class="fontContent"> 成绩：未完成</p>
    </div>
    <div class="greyBoxSeminar">
        <!--灰色选择框-->
        <p class="fontSeminarTitle"> 讨论课7</p>
        <p class="fontContent"> 11月6日至11月12日</p>
        <p class="fontContent"> 固定分组</p>
        <p class="fontContent"> 成绩：未完成</p>
    </div>
</body>
</html>

