
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   height=device-height,
                                   target-densitydpi=device-dpi,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
    <title>GroupList</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Content/Score.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btnleader").click(function () {
                $(".btnquit").show();
                $(".btnleader").hide();
                $(".middlegreyword").hide();
            });
            $(".btnquit").click(function () {
                $(".btnquit").hide();
                $(".btnleader").show();
                $(".middlegreyword").show();
            });
        });
    </script>
</head>
<body class="fullbackground">
    <div class="seminarblock">
        <img class="UsersIcon" src="~/images/users.png"/>
        <label>讨论课<br />固定分组</label>
    </div>

    <div class="whiteword">
        <div class="panel-body">
            <div class="column4">分组信息：</div>
            <div class="column3"><button class="btnquit" style="display:none;">辞职</button></div>
        </div>
    </div>

    <div class="block">
        <div class="panel-body">
            <div class="column1"><img src="~/images/user.png"/></div>
            <div class="column2">name<br />number</div>
            <div class="column3 rightblueword">队长</div>
        </div>
    </div>
    <div class="block">
        <div class="panel-body">
            <div class="column1"><img src="~/images/user.png"/></div>
            <div class="column2">name<br />number</div>

        </div>

    </div>
    <div class="whiteword">
        <div class="panel-body">
            <div>选题：</div>
        </div>
    </div>
    <div class="middlediv">
        <button class="btnleader">成为队长</button>
        <p class="middlegreyword">您的队伍还没有队长，您可以选择成为队长。</p>
    </div>

</body>
</html>

