
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   height=device-height,
                                   target-densitydpi=device-dpi,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
    <title>CourseInfoUI</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="@Url.Content("~/Content/CourseUI.css")" rel="stylesheet" type="text/css" />
</head>
<body class="body">
    <div class="headTitle">
        <span>OOAD</span>
        <span class="fontSeminar"> 讨论课4</span>
    </div>
    <div class="box2">
        <span class="fontItem" style="margin-top: 100%">打分</span>
    </div>
    <div class="box1">
        <span class="fontItem" onclick="javascript: window.location = '/Student/StudentRollCallUI'">签到</span>
    </div>
    <div class="box1" style="float: ">
        <span class="fontItem">组队和选题</span>
    </div>
    &nbsp;
</body>
</html>