@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   height=device-height,
                                   target-densitydpi=device-dpi,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
    <title>StudentMainUI</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/StudentMainUI.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".courseListDiv").click(function () {
                //var obj = new { name: 'ka', pwd: '123456' }
                $.ajax({
                    url: '/api/Course',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: "json",
                    data: JSON.stringify({id:'123',name:'222'}),
                    success: function (data) {
                        console.log(data);
                    },
                    error: function () {

                    }
                });
            });
        });
    </script>
</head>
<body class="body">
    <div class="topDiv">
        <img src="~/images/bg.png" class="sunschoolimage" />
        <img src="~/images/user.png" class="avatar" />
        <p class="nameLine" on>姓名 ：韦小宝</p>
        <p class="teacherNumberLine">教工号 ：24320162202991</p>
        <button type="button" class="checkInfo"/>
    </div>
    <div class="courseListDiv">
        <button type="button" class="intoCourse">
            <div class="courseName">J2EE</div>
            <div class="courseTeacherName">老师：邱明</div>
            <div class="grayLine"></div>
        </button>
        <button type="button" class="intoCourse" onclick="javascript: window.location = '/Student/CourseUI'">
            <div class="courseName">OOAD</div>
            <div class="courseTeacherName">老师：邱明</div>
            <div class="grayLine"></div>
        </button>
        <button type="button" class="intoCourse">
            <div class="courseName">操作系统</div>
            <div class="courseTeacherName">老师：吴清强</div>
            <div class="grayLine"></div>
        </button>
        <button type="button" class="intoCourse">
            <div class="courseName">数据仓库</div>
            <div class="courseTeacherName">老师：王鸿吉</div>
            <div class="grayLine"></div>
        </button>
       
    </div>
</body>
</html>
