@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>StudentMainUI</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/StudentMainUI.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: "/api/Me",
                headers: {
                    type: "student"
                },
                contentType: "application/json; charset=utf-8",
                success: function (data, status) {
                    $("#name").text("姓名：" + data.Data.name);
                    $("#sid").text("教工号：" + data.Data.number);
                }
            });
            $.ajax({
                type: 'GET',
                url: "/api/Course",
                headers: {
                    type: "student"
                },
                contentType: "application/json; charset=utf-8",
                success: function (data, status) {
                    var box = "blueBox";
                    for (var i in data.Data) {
                        if (data.Data[i].id > 2)
                            box = "greyBox";
                        var col = "<div id='" + data.Data[i].id + "' class='" + box + "'><p class='leftText'>" + data.Data[i].name
                            + "</p> <p class='rightText'>老师：" + data.Data[i].teacher + "</p></div>";
                        $("#list").append(col);
                    }

                }
            });
            $(".user").click(function () {
                $(window).attr("location", '/Student/CheckStudentInfoUI');
            });
            function chooseCourse() {
                window.localStorage.setItem("courseid", $(this).attr("id"));
                $(window).attr("location", '/Student/CourseUI');
            }
            $("#list").on('click', '.blueBox', chooseCourse);
        });
    </script>
</head>
<body class="body">
    <div class="PictureDiv">
    <!-- 背景图的div -->
        <img class="user" src="../images/user.png" />
        <img src="../images/background.jpg" class="Picture" />
        <div id ="name" class="name"></div>
        <div id="sid" class="ID"></div>
    </div>
    <div id="list">
        
    </div>
</body>
</html>
