 /*LoginUI.css*/

 body {
    background-color: #66ccff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    font-family: "Microsoft YaHei";
}
  /*上方的风景模块*/
.topBoardView
{
    width: 100%;
    height: 30%;
}
.topIcon
{
  position:absolute;
  width:100%;
  height:30%;
  z-index: -2;
  top: 0;
}
/*上面的灯*/
.topLight
{
    vertical-align: sub;
    width:15%;
    height: auto;
}
/*上面的提示框*/
.topTips
{
    width: 70%;
    font-size: 1.5rem;
    margin-left: 5%;
    padding-bottom: 2%;
    border-bottom: 0.14rem solid;
}
/*下方的主要选择页面*/
.mainView
{
  width:100%;
}
/*手机号的标签*/
.phoneID
{
    font-size: 1.25rem;
    margin-left:10%;
    margin-top:35%;
    z-index: 2;
}
/*密码的标签*/
.password
{
    font-size: 1.25rem;
    margin-left:10%;
    margin-top: 20%;
}
/*手机号输入框*/
.inputPhoneID
{
  background: #fff;
  width: 46%;
  padding: 2%;
  font-size: 1.25rem;
  border-radius: 10px;
}
/*密码输入框*/
.inputPassword
{
  background: #fff;
  width: 46%;
  padding: 2%;
  font-size: 1.25rem;
  border-radius: 10px;
}
.formInput{
    margin-top: 30%;
    font-size: 2.5rem;
}
/*确定按钮*/
.confirmButton
{
    width:45%;
    padding: 4%;
    font-size: 1.5rem;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 26%
}
/*“还没有注册账号？”*/
.tip1
{
    font-size:1.25rem;
    margin-top:5%;
    text-align:center;
}
/*“请先注册”*/
.tip2
{
    font-size: 1.25rem;
    color:blue;
    margin-left: 36%;
}