
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   height=device-height,
                                   target-densitydpi=device-dpi,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
    <title>ChooseSchool</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tab.js"></script></script>
    <link href="@Url.Content("~/Content/chooseschool.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function () {
            var pid = 1;
            var cid = 11;
            $("#province").click(function () {
                if ($(this).hasClass("cur") == true) {
                    return;
                }
                else {
                    $("#noSch").hide();
                    $("#province").addClass("cur");
                    if ($("#city").hasClass("cur") == true) $("#city").removeClass("cur");
                    if ($("#school").hasClass("cur") == true) $("#school").removeClass("cur");
                    $("#s").empty();
                    $.get("/api/Province", function (data, status) {
                        for (var i in data.Data) {
                            $("#s").append("<li id='" + data.Data[i].id + "' class='ptr'>" + data.Data[i].name + "</li>");
                        }
                    });
                }
            });
            $("#city").click(function () {
                if ($(this).hasClass("cur") == true) {
                    return;
                }
                else {
                    $("#noSch").hide();
                    if ($("#province").hasClass("cur") == true) $("#province").removeClass("cur");
                    $("#city").addClass("cur");
                    if ($("#school").hasClass("cur") == true) $("#school").removeClass("cur");
                    $("#s").empty();
                    $.get("/api/City/"+pid, function (data, status) {
                        for (var i in data.Data) {
                            $("#s").append("<li id='" + data.Data[i].id + "' class='ctr'>" + data.Data[i].name + "</li>");
                        }
                    });
                }
            });
            $("#school").click(function () {
                if ($("#school").hasClass("cur") == true) {
                    return;
                }
                else {
                    $("#noSch").show();
                    if ($(this).hasClass("cur") == true) $("#province").removeClass("cur");
                    if ($("#city").hasClass("cur") == true) $("#city").removeClass("cur");
                    $("#school").addClass("cur");
                    $("#s").empty();
                    $.get("/api/School/"+cid, function (data, status) {
                        for (var i in data.Data) {
                            $("#s").append("<li id='" + data.Data[i].id + "' class='str'>" + data.Data[i].name + "</li>");
                        }
                    });
                }
            });
            function province() {
                pid = $(this).attr("id");
                $("#province").removeClass("cur");
                $("#city").addClass("cur");
                $("#s").empty();
                $("#noSch").hide();
                $.get("/api/City/"+pid, function (data, status) {
                    for (var i in data.Data) {
                        $("#s").append("<li id='" + data.Data[i].id + "' class='ctr'>" + data.Data[i].name + "</>");
                    }
                });
            };
            function city() {
                cid = $(this).attr("id");
                $("#city").removeClass("cur");
                $("#school").addClass("cur");
                $("#s").empty();
                $("#noSch").show();
                $.get("/api/School/" + cid, function (data, status) {
                    for (i in data.Data) {
                        $("#s").append("<li id='" + data.Data[i].id + "' class='str'>" + data.Data[i].name + "</str>");
                    }
                });
            };
            function school() {
                window.localStorage.setItem("school", $(this).text());
                window.history.go(-1);
            };
            $("#s").on('click', '.ptr', province);
            $("#s").on('click', '.ctr', city);
            $("#s").on('click', '.str', school);
        });
    </script>
</head>
<body>
    <div class="topbox">
        <div class="fixTop">
            <img src="~/images/light.png" class="bulbimg" />
            <strong class="title0">请选择您的学校</strong>
            <img class="img" src="~/images/bg.png" />
        </div>
        <!--这个class与js有关 实现列表切换-->
        <div>
            <div class="fixTop title">
                <div id="province" class="cur">省份</div>
                <div id="city">州市</div>
                <div id="school">学校</div>
            </div>
            <div class="list">
                <div id="s">
                    <li id="1" class="ptr">福建</li>
                    <li id="2" class="ptr">广东</li>
                    <li id="3" class="ptr">广西</li>
                    <li class="ptr">天津</li>
                    <li class="ptr">江苏</li>
                    <li class="ptr">安徽</li>
                </div>
                <li id="noSch" class="str" style="display:none;"><a href="#">无学校？选择创建</a></li>
            </div>
        </div>
    </div>
</body>
</html>
