@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   height=device-height,
                                   target-densitydpi=device-dpi,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
    <title>LoginUI</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.3.min.js"></script>
    <link href="@Url.Content("~/Content/LoginUI.css")" rel="stylesheet" type="text/css" />
</head>
<body class="body">
    <div class="topBoardView">
        <img src="~/images/bg.png" class="topIcon" />
        <p class="topTips">
            <img src="~/images/light.png" class="topLight" />
        请先登录
        </p>
    </div>
    <div class="mainView">
        <form class="formInput">
            <label class="phoneID">手机号：</label>
            <input type="text" class="inputPhoneID" />
            <label class="password">密&nbsp;&nbsp;&nbsp;码：</label>
            <input type="password" class="inputPassword" />
            <input type="submit" class="confirmButton" value="登录"/>
        </form>
        <p class="tip1">还没有注册账号？</p>
        <a href="/Home/RegisterUI"><u class="tip2">请先注册</u></a>
    </div>
</body>
</html>
