
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   height=device-height,
                                   target-densitydpi=device-dpi,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
    <title>GroupInfoUI2</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Content/GroupInfoUI2.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".studentListBarDiv").click(function () {
                $(this).parent().children(".studentBox").toggle();
            });
        });
    </script>

</head>
<body>
    <!--设置左上角的usersIcon-->
    <div class="blueUsersDiv">
        <img src="~/images/users.png" class='blueUsersIcon' />
        <strong>队伍信息</strong>
    </div>

    <!--细线，hr不好设置css，用一个高度很小的div来代替-->
    <div class="hrDiv">
    </div>

    <div>
        <!--学生名单上面那个蓝色的bar-->
        <div class='studentListBarDiv'>
            <span class="teamText">队伍1</span>
            <span class="groupTopics">选题：</span>
        </div>

        <!--学生块-->
        <div class="studentBox">
            <div class='studentBlock'>
                <img src="~/images/user.png" class='userIcon' />
                <span class="studentName">杨xx</span>
            </div>

            <div class='studentBlock'>
                <img src="~/images/user.png" class='userIcon' />
                <span class="studentName">周xx</span>
            </div>

            <div class='studentBlock'>
                <img src="~/images/user.png" class='userIcon' />
                <span class="studentName">孙xx</span>
            </div>

        </div>
    </div>

    <div>
        <!--学生名单上面那个蓝色的bar-->
        <div class='studentListBarDiv'>
            <span>队伍2</span>
            <span class="groupTopics">选题：</span>
        </div>

        <!--学生块-->
        <div class="studentBox">
            <div class='studentBlock'>
                <img src="~/images/user.png" class='userIcon' />
                <span class="studentName">xxx</span>
            </div>

            <div class='studentBlock'>
                <img src="~/images/user.png" class='userIcon' />
                <span class="studentName">xxx</span>
            </div>

            <div class='studentBlock'>
                <img src="~/images/user.png" class='userIcon' />
                <span class="studentName">孙xx</span>
            </div>
        </div>
    </div>

    <div class='studentListBarDiv'>
        <span>队伍3</span>
        <span class="groupTopics">选题：</span>
    </div>
    <div class='studentListBarDiv'>
        <span>队伍4</span>
        <span class="groupTopics">选题：</span>
    </div>
</body>
</html>

